@import "../assets/styles/variables";

.contact-container {
  text-align: center;
  padding: 120px 20px 72px;
  background-color: $main-blue;
  h1 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 88px;
  }
  .contacts {
    .contacts-item {
      color: #ffffff;
      svg {
        width: auto;
        height: 40px;
      }
      span {
        margin-top: 32px;;
      }
    }
    .divider {
      display: inline-block;
      width: 1px;
      height: 24px;
      background-color: #ffffff;
      margin: 0 61px;
    }
  }
}

@media screen and (max-width: 1200px){
  .contact-container {
    padding-top: 100px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 992px){
  .contact-container {
    p {
      width: 41%;
      margin: 0 auto 60px;
    }
  }
}

@media screen and (max-width: 768px){
  .contact-container {
    padding-top: 60px;
    padding-bottom: 60px;
    p {
      width: 100%;
    }
    .contacts {
      flex-direction: column;
      .contacts-item {
        svg {
          height: 35px;
        }
        span {
          margin-top: 22px;;
        }
      }
      .divider {
        margin: 20px 0;
        transform: rotate(90deg);
      }
    }
  }
}